<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf = "onlyOdd">
          <li
          
          class="list-group-item"
          *ngFor="let odd of oddNumbers"
          [ngClass]="{odd: odd % 2 !== 0}"
          [ngStyle]="{backgroundColor: odd % 2 != 0 ? 'yellow' : transparent}"
          >
          {{ odd }}
          </li>
        </div>
        <p>First: using ngIf directive</p>
        <div *ngIf = "!onlyOdd">
            <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 !== 0}"
            >
            {{ even }}
          </li>
        </div>
        <p>Second: Using ng-template syntax. This is the syntax that internally gets converted to by Angular whenever we use * (i.e a structural directive)</p>
        <!-- Equivalent of above div with ngIf directive. It converts into the below syntax behind the scenes by Angular as it don't understand any * syntax -->
        <ng-template [ngIf]="!onlyOdd"> <!-- Binding to ngIf property of ngIf directive -->
          <div>
            <li
              class="list-group-item"
              *ngFor="let even of evenNumbers"
              [ngClass]="{odd: even % 2 !== 0}"
              >
              {{ even }}
            </li>
          </div> 
        </ng-template>
        <p>Third: Using appUnless: a custom directive buill by us which does exactly the opposite of ngIf</p>
        <div *appUnless = "onlyOdd">
          <li
          class="list-group-item"
          *ngFor="let even of evenNumbers"
          [ngClass]="{odd: even % 2 !== 0}"
          >
          {{ even }}
        </li>
      </div>
      </ul>
      <!-- <appBasicHighlight> Style me with directive </appBasicHighlight> -->
      <p appBasicHighlight> Style me with directive </p>
      <!-- <p appBetterHighlight [defaultColor]="'yellow'" [highlightColor]="'red'"> Style me with better directive </p> -->

      <!-- Another Syntax of property binding -->
      <!-- <p appBetterHighlight defaultColor="yellow" highlightColor="red"> Style me with better directive </p> -->
      
      <p [appBetterHighlight]="'red'" defaultColor="yellow" > Style me with better directive </p>
      <!-- 
        Two interesting things to observe:
        i. Here we pass two extra attribute looking values. Which are properties of the directive we have used and not the properties of the paragraph.
        So how does Angular know which is a native paragraph attribute and which is not. or a property of the directive. 
        The answer is: it just figures that out. It simply just checks our custom directives and hence knows about their properties 1st before it reaches the native HTML attributes.

        ii. So, we can bind to properties of our own directive( defaultColor here), by placing them on same element and wrapping with [].
        In ngClass which is a built-in directive the directive itself is enclosed in [].

        That's a typical usecase where your directive has only one property or atleast one main property in it.
        In that scenario you can use an alias(same as your directive selector)

        It's optional if you want you can use two different names for directive Name and your property name
        Or you can use the same name for both. 

        That's the reason why we wrapped ngClass with [] and not wrapped appBetterHighlight (at first).
        Because by wrapping [] in ngClass we're binding to ngClass property of the ngClass directive.

        We could achieve the same behaviour for appBetterHighlight by using alias name. We have also seen how to maintain separate names for directive name and main property name of the directive.
      -->
    </div>
  </div>
</div>

<!-- 

  ngClass is a directive

  [ngClass]= "{cssClassName: any statement/method/conditon that resolves to a boolean value }"

  The square bracket around ngClass here denotes that we're binding to some property on our ngClass directive.

  ngClass expects an object (within double quotes), where the key is the css class name and it's value is a Javascript statement, method or anything that at the end resolves to a boolean value.

 -->

 <!--

  ngStyle is another in-built directive.

  Syntax: [ngStyle] = "{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}"

  ngStyle also expects an object (within double quotes), where the key is an css style property and like ngClass it's value can also be set dynamically through a function call, or Javascript statement
  and the value depends on what css style property you have used. Here a string (that's a color value).
   
 -->

 <!--
   What happens behind the scenes on Structural Directives???
   *ngFor or *ngIf
    <p *ngIf="!onlyOdd"> Some Text </p>

   The star indicates to Angular that this is a structural directive. But the question is why does it need to know?

   The * in structural directives are just a syntactic sugar for the convinience of the developers. But there is no syntax like * operator in Angular.

   Behind the scenes it converts the elements on which structural directives are placed to something else. That's why to distinguish from other it has a unique sytax of *.

   There are property binding, event binding, two way binding and sting interpolation which have an Angular specific syntax. But there is nos special syntax for *
   
      <div *ngIf = "!onlyOdd">
            <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 !== 0}"
            >
            {{ even }}
          </li>
      </div>

      The above gets converted into:
      

      <ng-template [ngIf]="!onlyOdd"> 
        <div>
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 !== 0}"
            >
            {{ even }}
          </li>
        </div> 
      </ng-template>

      Both the syntax are exactly the same, but the content wrapped with ng-template only.
      The reason is ng-template is an element which itself is not rendered 
      but allows us to define a template in the end.
      And upon this we can use a condition based on which angular will decide that the template will be rendered or not.
    
      (Binding to ngIf property of ngIf directive.)
 -->